body{
    /* background-image: url("figura01b.png"); */
    background-position: 100px 25px;
}


:root{
    /* tamanho da caixa de texto*/
    --altura1: 30px;  --largura1: 50px;
    
    /* caixa de texto 01 */
    --top1:75px;  --left1:200px;
    
    /* caixa de texto 02 */
    --top2:120px;  --left2:200px;
    
    /* caixa de texto 03 */
    --top3:165px;  --left3:200px;
    
    /* Botões e mensagem */
    --top6:320px; --left6:50px;
    
    /* Distancia do marcador */
    --margin1: 3px;
}