/*nnnnnnnnn Atividade ângulo nnnnnnnn*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	background-color: #f2f2f2;
	font-family: verdana, sans-serif;
}

main{
	background-image: url("../imagens/papel.png");
	background-repeat: repeat-y;
	background-position: left;
	background-color: white;
	width: 45em;
	margin: 2em auto;
	padding: 1em 3em;
}

section{
	margin: 1.5em 0;
	margin-bottom: 2em;
}

h3{
	color: #40739e;
	text-align: left;
	margin: 1em 0;
}

h4{
	font-weight: bolder;
	color: #40739e;
	background-color: #f1f1f1;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}

div.instrucoes{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.instrucoes div{
	margin: 1em 0;
	line-height: 2em;
}

section p{
	font-family: 'Open Sans', sans-serif;
	color: #34495e;
	line-height: 1.5em;
	margin: 1em 0;

}

video{
    object-fit: contain;
	width: 15em;
}

section ol{
	margin-bottom: 3em;
	margin: 0 2.5em;
}

section li{
	color: #34495e;
	margin: 0.25em 0;

}

section a{
	text-align: center;
	background-color: #30ad23;
	color: white;
	padding: 0.5em 2em;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-radius: 0.5em;
	margin: 1.5em 7em;
}

object{
	margin: 1em 0;
}

figure{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

section div{
	margin: 1em 0;
}

section label{
	font-weight: bold;
	color: #34495e;
}

section input{
	width: 4em;
	font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: rgb(0,0,100);
}

div.button{
}

input[type='button']{
    width: 7em;
    background-color: #30ad23;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 0.5em 0;
    border-radius: 10px;
    border: 0px;
}

input[value='Limpar']{
	text-align: center;
	background-color: #d3d3d3;
	color: white;
	padding: 0.5em 1em;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-radius: 0.5em;
	
}



