body{
    background-image: url("../imagens/figura.png");
    background-position: 100px 60px;
}


:root{
    /* tamanho da caixa de texto base*/
    --altura1: 28px;  --largura1: 40px;
    
    /* tamanho da caixa de texto expoente*/
    --altura2: 23px;  --largura2: 30px;
    
    /* caixa de texto 01 e marcador*/
    --top1: 0px;      --left1:270px;
    --topM1: 32px;    --leftM1: -41px;

    /* caixa de texto 02 e marcador */
    --top2: 55px;  --left2:250px;
    --topM2: 32px;    --leftM2: -41px;
    
    /* caixa de texto 03 e marcador*/
    --top3:70px;  --left3:400px;
    --topM3: 0px;    --leftM3: 0px;
   
    /* vezes */
    --top4:-52px;  --left4: 262px;
    
    /* Botões e mensagem */
    --top6:160px; --left6:160px;
    
    /* Distancia do marcador */
    --margin1: 3px;
}