:root{
	--azul: #0097e6;
	--tranparente: rgba(0,0,0,0);

	/* COR DO TEXTO */
	--corDoTexto: var(--azul);
}

body{	
	font-family: verdana, sans-serif;
	font-size: 17px;
	width: var(--width1);
	height: var(--height1);
	border: 2px solid #487eb0;	
	border-radius: 10px;
	margin: 0;
}

.espacoLinha{
	position:relative;	
	top:-15px;
}
.alternativa {
  font-family: "Open Sans", sans-serif;	
  margin: 20px 15px;
  font-size: 17px;
  line-height: 2.0;
  text-align: justify;
}
div.checkmark{
	display: inline-flex;
	align-items: center;
}
input[type="radio"]{
  height: 25px;
  width: 25px;
  background-color: #eee;
  display: none; 
}
#alternativaA{
	position: relative;
	left: var(--left1);
	top: var(--top1);
}
#alternativaB{
	position: relative;
	left: var(--left2);
	top: var(--top2);
}
label{
	color: var(--corDoTexto);
	font-size:20px;
	font-weight: bold;
}
input[type="radio"] + label{
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}
input[type="radio"] + label::before{
	content: "";
	border: 2px solid #3f9cef;
	position: absolute;
	left: 0px;
	top: 10px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}
input[type="radio"] + label::after{
	content: "";
	background-color: #3f9cef;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 3px;
	top: 13px;
	border-radius: 50%;
	opacity: 0;
}
input[type="radio"]:checked + label::after{
	opacity: 1;
}
/* ------------------------------- COMENTÁRIOS -------------------------------*/
.posicao2{
	font-size: 0.9em;
}
.comentarios{
	position:absolute;
	left: var(--left3); 
	top: var(--top3); 
	width: var(--width1); 
	height:0px;
	font-weight: bold;
	display: flex;
	justify-content: center;
}
.comentarios div div{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}
.comentarios p{
	text-align: justify;
}
#comentarioA p span{
	color:#00b894;
}
#comentarioE p span{
	color:#e84118;
}