body{
	background-image: url('../imagens/background.png');
}

:root{
	/* Tamanho do body */
	--largura1: 500px;				--altura1: 200px;

	/* Posição horizontal e vertical dos botões radio */
		/* Alternativa A */
		--left1: 10px;				--top1: 40px;

		/* Alternativa B */
		--left2: 170px;				--top2: 40px;

	/* Posição vertical da mensagem */
	--top3: 100px;
}