/* ----------------------------- */
.p-aula {
  margin: 6px 15px;
  font-size: 17px;
  line-height: 1.6;
  text-align: left;
}
/*
hr {
	padding-bottom:30px;	
	height: 2px;
	background: #b2b2b2;
	border: none;
	padding: 0px;
	position:relative;
	left:10px;
	width:600px;
}
*/
hr {
  height: 1px;
  background: #b2b2b2;
  border: none;
  padding: 0;
}

.titulo {	
    padding-top:10px;
	padding-bottom:10px;
	text-align:left;    
	color: #40739e;
}

.principal{
	padding-top:10px;
	padding-bottom:20px;
	position: relative;
	left:40px;
	width: 640px;
	height: auto;
	
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	color: #34495e;
	letter-spacing: 0.5px;
}

.videoLibras{
	position:relative;
	left:10px;	
	width:220px;
	border-style: solid;
	border-width: 2px;	
	border-color: #2980b9;		
}

.figuras{
	position:relative;
	left:20px;	
	top:-20px;
}

.sombra {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.espaco{
	padding-top:20px;
	padding-bottom:10px;	
}
/* ----------------------------- */

.confirmarBtn {
	position:relative;
	width:120px;
	height:25px;		
	border-radius: 5px;
	color:white;
	font-size: 13px;	
	font-family: Helvetica, Arial, sans-serif;
}

.confirmarBtn:hover {
	cursor: pointer;
	color:#2c3e50;
	background: white;
	outline: none;
}

/* ----------------------------- */

.btnIniciar {
	position:absolute;
	width:60px;
	height:25px;		
	border-radius: 5px;
	color:white;
	font-size: 13px;	
	font-family: Helvetica, Arial, sans-serif;
}

.btnIniciar:hover {
	cursor: pointer;
	color:#2c3e50;
	background: white;
	outline: none;
}

.btnIniciar:active { 
  outline: none;
}

.botao{
	-webkit-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	display: inline-block;
	background-color: rgba(211, 84, 0,1.0);
	color: white;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
}
/*
.botao.num{
	background: rgba(149, 165, 166,1.0);
}

.botao:hover {	
	cursor: pointer;
	background: rgba(211, 84, 0,0.8);
}
*/

.resposta {         
	margin-top:0px;
	width:70px;
	color:rgb(0,0,100);
	background-color:rgba(200,200,255,0.1);	
	padding:3px;
	font-weight:bold;
	font-size: 15px;
	text-align:center;
}	

.saida{	
	margin-top:0px;	
	border: none;    
	color: #2c3e50;
	font-weight: bold;
	background: transparent;	
	padding: 5px 10px;	
	font-size: 15px;
	text-align: center;	
}
/* ----------------------------- */

.checkbox{
	position:absolute;		 
	padding: 8px 10px 10px 30px;	
	text-align:left;
	color: #2c3e50;
	letter-spacing: 2px;
	text-indent: 0px;
	font-family: "verdana";
	font-size: 11px;
	font-weight: bold;
}

.checkbox input {
  position: absolute;
  top:3px;
  left:0px;
  opacity: 0.7;  
  cursor: pointer;
  height: 20px;
  width: 20px; 
}

/* ----------------------------- */

.tituloSlider{
	position: absolute;
	font-family: "verdana";
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1.2px;
	color: #2c3e50;
	
}

.slider {
  position:absolute;		
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: #95a5a6;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

/* -------------------------------- */

.btnControle {
	position:absolute;
	width:25px;
	height:25px;		
	border-radius: 5px;
	color:white;
	font-size: 18px;	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.btnControle:hover {
	cursor: pointer;
	color:#2c3e50;
	background: white;
	outline: none;
}

.btnControle:active { 
  outline: none;
}

/* ------------------------------- */

.cor1{
	border: 2px solid #192a56;
	background-color:#192a56;
}

.cor2{
	border: 2px solid #e84118;
	background-color:#e84118;
}

.blue{
	border: 2px solid #2980b9;
	background-color:#2980b9;
}

.orange{
	border: 2px solid #d35400;
	background-color:#d35400;
}

.green {
	border: 2px solid #16a085;
	background-color:#16a085;
}


.stormpetrel {
	border: 2px solid #8395a7;
	background-color:#8395a7;
}

.jadedust {
	border: 2px solid #00d2d3;
	background-color:#00d2d3;
}

.peace {
	border: 2px solid #a4b0be;
	background-color:#a4b0be;
}








