/*nnnnnnnnn Atividade ângulo nnnnnnnn*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	background-color: #f2f2f2;
	font-family: verdana, sans-serif;
}

main{
	background-color: white;
	width: 45em;
	margin: 2em auto;
	padding: 1em 3em;
}

section{
	margin: 1.5em 1.0;
	clear: both;
}

h3{
	color: #40739e;
	text-align: left;
	margin: 1em 0;
	float: left;
}

h4{
	font-weight: bolder;
	color: #40739e;
	background-color: #f1f1f1;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}

.instrucoes{
	display: flex;
}

.instrucoes div{
	margin-bottom: 1em;
}

audio{
    width: 220px;
    height: 40px;
    border: 2px solid #95a5a6;
    border-radius: 15px;
    background-color: #ecf0f1;
}

/*TEXTO ALINHADO AO AÚDIO COM POSIÇÃO FIXA*/

.destaqueVerde {
    background-color: #0d7e83;
    padding: 10px;
}

.textoLateralDestacado {
    width: 360px;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f5f6fa;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
}


/*TEXTO ALINHADO AO CENTRO */
.textoLateralDestacadoCentralizado{	
	position:relative;
	width:360px;	
	left:-20px;
	font-family: 'Open Sans', sans-serif;	
	line-height: 2em;	
	letter-spacing: 1px;
	color: #f5f6fa;	
	padding: 5px 5px 5px 10px;		
	border-radius: 10px;	
	margin-top: 2em;
}

.textoLateral{	
	position:relative;
	width:575px;	
	left:-20px;
	font-family: 'Open Sans', sans-serif;
	color: #34495e;
	line-height: 1.7em;	
	letter-spacing: 1px;	
}

.textoAcima{	
	position:relative;
	width:620px;
	left:0px;
	font-family: 'Open Sans', sans-serif;
	color: #34495e;
	line-height: 1.7em;
	letter-spacing: 1px;	
	margin-top: 1em;
}

/*CORES E FORMATOS DOS TEXTOS DESTACADOS*/

 .BordasArredondadas1{
  border-radius: 10px;
 }

 .BordasArredondadas2{
  border-radius: 0 2em;
 }

 .BordasArredondadas3{
  border-radius: 0 10px 150px 0;	
 }

 .BordasArredondadas4{
 border-radius: 0 0 30px 30px;
 }

.BordasArredondadas5{
 border-radius: 0 35px 35px 35px;
}

.destaqueAzul{
	background-color: #487eb0;	
	padding: 10px;
}

.destaqueVerde{
	background-color: #0d7e83;	
	padding: 10px;
}

.destaqueJade{
   background-color: #00a86b;
   padding: 10px;
}

.destaqueLaranja{
 background-color:#E85009;
  padding: 10px;
}

/*BOTÕES ATIVIDADES, JOGOS E EXERCÍCIOS*/

.exercicios{
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

.exercicios div{
	margin-bottom: 0.5em;
 }

.botoes a {
  color: white;
  text-decoration: none;
}

.botoes div{
  display: block;
  padding:5px;
  border-radius: 7px;
  width: 12em;
  text-align: center;
}

.botoes{
  margin-left: 2.5em;
}

.BotaoAtividade{
 background-color: #22a6b3;
}

/*ÍCONE DE VÍDEO AULA*/

.video-aula{
	text-align: right;
}

.video-aula img{
    margin-top: 1.25em;
}

.aula-em-video{
	text-align: center;
}

/*CONFIGURAÇÃO DA VIDEO AULA*/
.videoaula{
	position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #2c5b84;
    border-radius: 0px;
}

/* AJUSTE DE ESPAÇAMENTO ENTRE PARÁGRAFOS ---------------------- */
.vertical5{
	position:relative;
	top:-50px;
}

.altura30{
	padding-bottom: 30px;	
}

.espaco10{
	padding-top:10px;
}

.espaco15{
	padding-top:15px;
}

.espaco20{
	padding-top:20px;
}

.recuo30{
	padding-left:30px;
}
/* Paulo */
.expressao{
	font-weight: bold;
	font-size: 1em;
	width: 8em;
	height: 2.8em;
	border-radius: 5px;
	border: 2px solid #487eb0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 15px;
}
object{
	margin: 0 auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}