.animacao{
	display:block
}
@media (max-width: 700px) {
  .animacao {
    display:none;
  }
}

/* SEÇÃO DE EXERCÍCIOS */

.exercicios{
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

.exercicios div{
	margin-bottom: 0.5em;
 }
 
 .botoes a {
  color: white;
  text-decoration: none;
}

.botoes div{
  display: block;
  padding:5px;
  border-radius: 7px;
  width: 12em;
  text-align: center;
}

.botoes{
  margin-left: 2.5em;
  margin-top:1.5em;
}

.BotaoAtividade{
 background-color: #22a6b3;
}

.BotaoAprendizagem{
 background-color: #22a6b3;
}

.BotaoAplicacao{
 background-color: #40739e;
}

.BotaoAprofundamento{
 background-color: #22a6b3;
}

/* fim ------------------- */

/* -------------------------- */

.centralizar{
	text-align:center;
}


.comentarioCinza{
	padding:10px 0px 10px 40px;	
	font-weight:700;
	color:#7f8c8d;
}

.comentarioVerde{
	padding:10px 0px 10px 40px;	
	font-weight:700;
	color:#22a6b3;	
}

.tab10{
	padding-left:10%;
}




/********* ESPAÇAMENTO ABAIXO DA DIV/SECTION **************/

.padding10{
	padding-bottom:20px;
}

.padding20{
	padding-bottom:20px;
}

.padding30{
	padding-bottom:30px;
}

.padding40{
	padding-bottom:40px;
}





