:root{
	
	/* --top2:calc(var(--top1) + var(--dy)); --left2:calc(var(--left1)); */    
    
	--dy:40px;
	
    /* caixa de texto 01 */
    --top1:27px;  							--left1:130px;
    
    /* caixa de texto 02 */
    --top2:calc(var(--top1) + var(--dy));   --left2:calc(var(--left1));
    
    /* Botões e mensagem */
    --top6:130px; --left6:30px;
	
	/* tamanho da caixa de texto*/
    --altura1: 20px;  --largura1: 50px;
    
    /* Distancia do marcador */
    --margin1: 0px;
}