.btnIniciar {
	position:absolute;
	width:60px;
	height:25px;		
	border-radius: 5px;
	color:white;
	font-size: 13px;	
	font-family: Helvetica, Arial, sans-serif;
}

.btnIniciar:hover {
	cursor: pointer;
	color:#2c3e50;
	background: white;
	outline: none;
}

.btnIniciar:active { 
  outline: none;
}

.blue{
	border: 2px solid #2980b9;
	background-color:#2980b9;
}

.orange{
	border: 2px solid #d35400;
	background-color:#d35400;
}

.green {
	border: 2px solid #16a085;
	background-color:#16a085;
}

